<template>
    <lightning-layout>
        <lightning-layout-item size="8" flexibility="auto">
            <lightning-card
                title={cardTitle}
                icon-name="action:apex">

                <lightning-layout>
                    <lightning-layout-item size="1" flexibility="auto"></lightning-layout-item>
                    <lightning-layout-item size="10" flexibility="auto">
                    <!-- Picklist for selecting object to modify -->
                    <template if:true={objectNames}>
                        <lightning-combobox
                            name="objectName"
                            label="Object Type"
                            value={selectedObjectType}
                            placeholder="Select Object Type"
                            options={objectNames}
                            onchange={handleObjectSelected}
                            required
                        ></lightning-combobox>
                    </template>
    
                    <!-- Dual Listbox for setting new metadata record -->
                    <template if:true={fieldNames}>
                        <lightning-dual-listbox name="languages"
                        label="Set Mandatory Fields"
                        source-label="Available"
                        selected-label="Selected"
                        field-level-help="Select which fields will show when creating a new child record"
                        options={fieldNames}
                        onchange={handleChange}></lightning-dual-listbox>
    
                        <!-- Save button -->
                        <div class="slds-p-top_x-large slds-align_absolute-center">
                            <lightning-button variant="brand"
                            label="Save Changes"
                            title="Save Changes"
                            onclick={handleSaveChanges}
                            class="slds-m-left_x-small"></lightning-button>
                        </div>
                    </template>
                    </lightning-layout-item>
                    <lightning-layout-item size="1" flexibility="auto"></lightning-layout-item>

                </lightning-layout>
            </lightning-card>
        </lightning-layout-item>
        
    </lightning-layout>
</template>