<template>

    <!-- Loading Spinner -->
    <template if:false={requiredFields}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </template>

    <!-- Form for Creating Records  -->
    <template if:true={requiredFields}>
        <lightning-record-edit-form object-api-name={objectApiName} onsuccess={handleSuccess}>
            <lightning-messages>
            </lightning-messages>
            <template for:each={requiredFields} for:item="eachField">
                <lightning-input-field key={eachField.name} field-name={eachField.name}
                                        value={eachField.value} required>
                </lightning-input-field>
            </template>
            <!-- Buttons -->
            <div class="slds-align_absolute-center">
                <lightning-button
                    class="slds-m-top_small slds-p-horizontal_small"
                    onclick={handleClose}
                    variant="neutral"
                    label="Cancel">
                </lightning-button>
                <lightning-button
                    class="slds-m-top_small slds-p-horizontal_small"
                    type="submit"
                    variant="brand"
                    label="Save">
                </lightning-button>
            </div>
        </lightning-record-edit-form>
    </template>
    
</template>