<template>
    <lightning-card
        title={cardTitle}
        icon-name="standard:record_create">

        <!-- Picklist with Child objects -->
        <template if:true={childApiNames}>
            <lightning-combobox
                name="childType"
                label="Child Type"
                value={selectedChildType}
                placeholder="Select Child Type"
                options={childApiNames}
                onchange={handleChange}
                required
            ></lightning-combobox>
        </template>

        <!-- Form for creating child record (based on picklist above) -->
        <template if:true={childIsSelected}>
            <c-create-generic-child-form object-api-name={selectedChildType} parent-api-name={recordApiName}
                                         parent-id={recordId} onclose={handleClose} onsuccess={handleSuccess}></c-create-generic-child-form>
        </template>

        <!-- Loading Spinner -->
        <template if:false={childApiNames}>
            <div>
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </div>
        </template>

        <!-- Button to navigate to page for editing Mandatory Field Mapping metadata -->
        <div class="slds-p-top_xx-large">
            <lightning-button variant="brand-outline"
            label="Edit Mandatory Fields"
            title="Modify which fields are visible on this popup for selected objects"
            onclick={handleEditFields}
            class="slds-m-left_x-small"></lightning-button>
        </div>
    </lightning-card>
</template>